/*
* 
* 
*/

/*Layout*/

html, body, #home {
    height: 100%;
}



body {
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg,#3700ff,#ff0000);
                background-attachment: fixed;
                font-family:  Helvetica, Arial, sans-serif;
            }


footer{
   background-color: black;
}

/*Barra de Navegação*/

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(255, 255, 255, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #404041;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,.1);
}

.divisor{
    background-color: black;
    width: 1px;
    margin: 12px 15px;
}

/*CAPA*/
.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius:500px;
    -moz-border-radius:500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo{
    background:#7c25f8;
}

.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco{
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
    color: black
}

/**Estrutura de conteúdos**/

.caixa1 {
    padding-top: -20px;
    padding-bottom: -20px;
}

.links-rodape{
    padding-top: 10px;
    text-align: center;
}


#servicos {
    background: rgba(255, 255, 255, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos h2 {
    color: #041991;
    padding: 5px 0;
}

#servicos h3 {
    color: #3700ff;
    padding: 5px 0;
}

#empresa h2 {
    color: #c0c9fc;
}

#empresa h3 {
    color: #7488fa;
}

#empresa p {
    color: white;
}

.telefone{
    color: white;
    font-size: 2.5em;
}


.albuns{
    padding: 15px 0;
}

.rotacionar {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-bottom: -10px;
    text-align: top;
    padding: 0px 40px 0px 0px;
}

/**Tipografia*/

h1 {
    font-weight: 900px;
    letter-spacing: -0.05em;
    margin-bottom: 30px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;

}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;

}

p a {
    color: white;
    padding-right: 10px;    
}

a:hover {
    color: #7488fa;
    text-decoration: none;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .btn-custom{
        margin: 10px 15px;
    }

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        font-size: 2.5em;
    }
    .btn-custom{
        margin: 10px 15px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 3em;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 4em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    h1{
        font-size: 5em;
    }
}